@model HomeModel
@{
    ViewData["Title"] = "Home Page";
}


@if (@Model.id == 0)
{

    <link href="~/css/StyleSheet2.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/main1.css">

    <div class="container">

        <div class="row page-header">

            <div class="col-md-6">
                <br>
                <br>
                <br>
                <h1>Esperamos que esta forma de organizar los pagos sean lo mas comodo para nuestros usuarios</h1>
                <br>
                <h4> ¡Gracias por preferir OrganiZa!</h4>
                <br>
                <br>
                <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#myModal2">Empecemos</button>
                <!-- The Modal -->
                

            </div>
            <div class="col-md-4">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="text-center">
                    <div class="modal-body text-center">
                        <img class="img-fluid" src="/images/Libro.png" alt="Image" style="max-height:240px; max-width:480px;" />
                    </div>
                </div>
            </div>
            <div class="col-md-2 shadow-lg p-4 mb-4 bg-white ">
                <br>
                <br>

                <br>
                <div class="text-center">
                    <h3>Bienvenido</h3>
                </div>

                <br>
                <br>
                <br>
                <div class="text-center">
                    <h3>Usuario</h3>
                </div>
                <br>
                <br>
                <br>
                <br>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">

            </div>

            <div class="col-md-3">

            </div>
        </div>
    </div>


}
else
{
    <link href="~/css/StyleSheet2.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/main1.css">
    <div class="container">


        <div class="row">

            <div class="col-md-6">
                <br>
                <br>
                <br>
                <h1>Esperamos que esta forma de organizar los pagos sean lo mas comodo para nuestros usuarios</h1>
                <br>
                <h4> ¡Gracias por preferir OrganiZa!</h4>
                <br>
                <br>
                <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#myModal">Empecemos</button>
                <!-- The Modal -->
                

            </div>
            <div class="col-md-4">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="text-center">
                    <div class="modal-body text-center">
                        <img class="img-fluid" src="/images/Libro.png" alt="Image" style="max-height:240px; max-width:480px;" />
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">

            </div>

            <div class="col-md-3">

            </div>
        </div>


    </div>
}

@section Modals{
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Tipo de cuenta</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body ">
                    <br>
                    <br>
                    <br>


                    <div class="row">

                        <div class="col-md-12">
                            <a type="button" class="btn btn-success btn-lg btn-block" asp-controller="Tutor" asp-action="Create">Tutor</a>
                            <br>
                            <a type="button" class="btn btn-success btn-lg btn-block" asp-controller="Administrador" asp-action="Create">Administrador</a>
                        </div>

                    </div>
                    <br>
                    <br>
                    <br>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal" id="myModal2">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Tipo de cuenta</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body ">
                    <br>
                    <br>
                    <br>


                    <div class="row">

                        <div class="col-md-12">
                            <a type="button" class="btn btn-success btn-lg btn-block" asp-controller="Tutor" asp-action="Create">Tutor</a>
                            <br>
                            <a type="button" class="btn btn-success btn-lg btn-block" asp-controller="Administrador" asp-action="Create">Administrador</a>
                        </div>

                    </div>
                    <br>
                    <br>
                    <br>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
}
