@model MenuTModel
@{
}
<div class="row">
    <div class="container-fluid">
        <div class="col-md-12">
            <br>
            <br>
            <br>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top img-thumbnail imgThumbnail" src="~/images/Pagos.jpg"
                     alt="" asp-append-version="true">
                <div class="card-body">
                    <h5 class="card-title">Realiza un pagos</h5>
                    <br />
                    <p class="card-text">Este apartado te permite hacer pagos a tu institucion</p>
                    <div class="text-center">
                        <br />
                        <a asp-area="" asp-controller="Pagos" asp-action="Create" class="btn btn-primary">Pagar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top img-thumbnail imgThumbnail" src="~/images/Historial.jpg"
                     alt="" asp-append-version="true">
                <div class="card-body">
                    <h5 class="card-title">Historial de Pagos</h5>
                    <br />
                    <p class="card-text">Esta opcion permite visualizar tus pagos realizados y verificar su estatus</p>
                    <div class="text-center">
                        <br />
                        <a asp-area="" asp-controller="Pagos" asp-action="Historial" class="btn btn-primary">Ver</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top img-thumbnail imgThumbnail" src="~/images/Calendario.jpeg"
                     alt="" asp-append-version="true">
                <div class="card-body">
                    <h5 class="card-title">Calendario de Escuela</h5>
                    <br />
                    <p class="card-text">Esta opcion permite visualizar el calendario de tu escuela</p>
                    <div class="text-center">
                        <br />
                        <a asp-area="" asp-controller="Calendario" asp-action="CTutor" class="btn btn-primary">Ver</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1">
            <br />
        </div>
    </div>
</div>


<div class="row">

    <div class="col-md-12">
        <br>
        <br>
    </div>
</div>
