@*
*@
@{
    Layout = null;
}

<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<div class="text-center">
    <br>
    <br>
    <br>
    <br>
    <h1 class="text-success">Correo Exitoso.</h1>
    <br>
    <br>
    <br>
    <h2 class="text-danger">Felicidades el pago resulto exitoso.</h2>

</div>

<div class="text-center">
    <br>
    <br>
    <br>
    <br>
    <p>
        <strong>Vuelve al menu y sigue con OrganiZa.</strong>
    </p>    <br>
    <br>
    <br>

</div>

<div class=" row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 text-center">
        <div class="form-group">
            <a asp-controller="Home" asp-action="Home" class="btn btn-primary btn-block">Volver</a>
        </div>
    </div>
    <div class="col-md-4">
    </div>
</div>


