@model OrganiZa.Domain.DTOs.AdministradorResponseDto
@{


}
<form class="mt-3" method="post">
    <div class="row">
        <div class="col-md-12">
            <br>
            <br>
        </div>
    </div>
    <div class="row">

        <div class="col-md-12">
            <div class="form-group">
                <label>Nombre del Administrador</label>
                @Html.EditorFor(model => model.NombreAd, new { htmlAttributes = new { @class = "form-control", disabled = true } })
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>Tipo de cuenta</label>
                @Html.EditorFor(model => model.Rolusuario, new { htmlAttributes = new { @class = "form-control", disabled = true } })
            </div>
        </div>

        <div class="col-md-10">
            <div class="form-group">
                <a asp-controller="Administrador" asp-action="Menu" class="btn btn-primary ">Volver</a>
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <a asp-controller="Administrador" asp-action="Update" class="btn btn-success ">Actualizar</a>
            </div>
        </div>

    </div>

</form>
<form method="post">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="form-group">
                <a asp-controller="Home" asp-action="LogOut" class="btn btn-danger">Cerrar sesión</a>
            </div>
        </div>
    </div>
</form>